/.idea
/node_modules/
/dist
npm-debug.log
/src/freeform_next/logs/*.log*
/src/freeform_next/changelog.json
/package-lock.json
/Deploy.sh
/src/freeform_next/ft_check
.DS_Store
/Deploy Express.sh
/Deploy Lite.sh
/Deploy Pro.sh
/yarn-error.log
